body {
    height: 100%;
    width: 100%;
    max-width: 1440px;
    min-width: 300px;
    margin: auto;
    position: relative;
    background: var(--background-color-primary);
}

.page-top-pc {
    height: 858px;
    overflow: hidden;
    position: relative;
}

.page-top-pc img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
}

.page-top-logo {
    position: absolute;
    top: 624px;
    left: 120px;
    height: 120px;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 18px;
    fill: var(--base-color-white-fixed);
}

.page-top-copy {
    gap: 4px;
    display: flex;
    flex-direction: column; 
}

.page-top-title {
    color: var(--base-color-white-fixed);
    padding-left: 16px;
}

.page-top-line {
    width: 292px;
    height: 1px;
    background: var(--base-color-white-fixed);
}

.page-top-subcopy {
    width: 474px;
    color: var(--base-color-white-fixed);
    padding-left: 16px;
}

.page-top-mobile {
    display: none;
}

.home-main {
    margin-top: 132px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 120px;
    gap: 64px;
    display: flex;
    flex-direction: column; 
}

.home-section {
    width: 100%;
    gap: 40px;
    display: flex;
    flex-direction: column; 
}

.home-section-title {
    width: 160px;
    padding-left: 20px;
    border-bottom: 4px solid;
    color: var(--brand-color-primary);
}

.works-contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
}

.works-card {
    width: 100%;
    height: 320px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 32px rgba(60, 99, 135, 0.16);
}

.works-card img {
    height: 100%;
    width: 227px;
}

.works-subcopy {
    color: var(--base-color-primary);
}

.works-overview-suupale {
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
}

.works-suupale-logo {
    width: 320px;
    margin-bottom: 16px;
}

.works-suupale-logo img {
    width: 100%;
}

.works-categories {
    display: flex;
    gap: 20px;
}

.works-category-design {
    color: #527CB4;
    text-decoration: underline solid #527CB4;
}

.works-category-sosaku {
    color: #3CB8C0;
    text-decoration: underline solid #3CB8C0;
}

.works-date {
    color: var(--base-color-secondary);
    margin-top: 8px;
    margin-bottom: 8px;
}

.works-description {
    color: var(--base-color-primary);
}

.works-overview-c105personal {
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.works-c105personal-logo {
    height: 160px;
}

.margin1 {
    height: 16px;
}

.link-button {
    width: 240px;
    height: 64px;
    margin: auto;
    border: 2px solid var(--brand-color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--brand-color-primary);
    transition: background-color 0.3s, color 0.3s;
}

.link-button-disable {
    width: 240px;
    height: 64px;
    margin: auto;
    border: 2px solid #888888;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #888888;
}

.link-button:hover {
    background-color: var(--brand-color-primary);
    color: var(--base-color-white-fixed);
}

.profile-contents {
    display: flex;
    gap: 40px;
}

.profile-icon img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.profile-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.profile-name {
    margin-bottom: 8px;
    color: var(--base-color-primary);
}

.profile-description {
    width: 100%;
    color: var(--base-color-primary);
}

.shirokuma {
    position: relative;
}

.shirokuma img {
    position: absolute;
    top: -80px;
    left: 0px;
    display: none;
    width: 80px;
    border-radius: 50%;
}

.shirokuma:hover img {
    display: block;
    opacity: 70%;
}

.profile-links {
    display: flex;
    gap: 32px;
}

.profile-link {
    color: var(--brand-color-primary);
    text-decoration: none;
    position: relative;
}

.profile-link i {
    margin-right: 8px;
}

.profile-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.profile-link:hover::after {
    background-color: var(--brand-color-primary);
}

.link-button i {
    margin-right: 8px;
}

footer {
    width: 100%;
    height: 240px;
    background-color: var(--brand-color-primary);
    position: relative;
}

.footer-logos {
    position: absolute;
    top: 60px;
    left: 120px;
    display: flex;
    gap: 40px;
    height: 120px;
    align-items: center;
}

.footer-logo-ljus {
    height: 100%;
}

.footer-logo-ljus img {
    height: 100%;
}

.footer-logo-circle img {
    height: 72px;
}

.website-rights {
    position: absolute;
    right: 120px;
    bottom: 40px;
    color: var(--base-color-white-fixed);
}

/* ダークモード対応 */
@media (prefers-color-scheme: dark) {
    .works-card {
        background: #333333;
        box-shadow: none;
    }

    .works-suupale-logo img {
        filter: brightness(0) saturate(100%) invert(1);
    }

    .works-c105personal-logo img {
        filter: brightness(0) saturate(100%) invert(1);
    }

    .link-button-disable {
        border: 2px solid #333333;
        color: #333333;
    }
}

/* レスポンシブ対応 */
@media screen and (max-width: 1199.95px) {
    .works-overview-suupale {
        padding-left: 40px;
        padding-right: 40px;
    }

    .works-overview-c105personal {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 999.95px) {
    .page-top-pc {
        display: none;
    }

    .page-top-mobile {
        display: block;
        height: 720px;
        overflow: hidden;
        position: relative;
    }

    .page-top-mobile img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right;
        z-index: 0;
    }

    .page-top-logo {
        top: 400px;
        left: 64px;
        height: 250px;
        flex-direction: column;
        align-items: start;
        gap: 8px;
    }

    .page-top-logo img {
        height: 120px;
        width: 121px;
    }

    .home-main {
        margin-top: 108px;
        margin-left: 64px;
        margin-right: 64px;
        gap: 80px;
    }

    .home-section {
        gap: 32px;
    }

    .works-contents {
        gap: 32px;
        margin-bottom: 24px;
    }

    .works-card {
        height: 180px;
    }

    .works-card img {
        width: 128px;
    }

    .works-subcopy {
        display: none;
    }

    .works-categories{
        display: none;
    }

    .works-date {
        display: none;
    }

    .works-description {
        display: none;
    }

    .works-text-c105personal {
        display: none;
    }

    .works-suupale-logo {
        width: 100%;
        max-width: 240px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    .works-suupale-logo img {
        width: 100%;
        object-position: center;
    }

    .works-c105personal-logo {
        width: 100%;
        height: 100%;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    .works-c105personal-logo img {
        width: 100%;
        height: 100%;
        max-height: 100px;
    }

    .profile-contents {
        flex-direction: column;
        gap: 16px;
    }

    .profile-text {
        gap: 16px;
    }

    .profile-links {
        flex-direction: column;
        gap: 16px;
        align-items: center;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .footer-logos {
        top: 32px;
        left: 64px;
    }

    .website-rights {
        right: 64px;
    }
}

@media screen and (max-width: 499.95px) {
    .page-top-logo {
        right: 32px;
        align-items: end;
    }

    .page-top-copy {
        align-items: end;
    }

    .page-top-title {
        padding-left: 0px;
        padding-right: 16px;
    }

    .page-top-subcopy {
        text-align: right;
        padding-left: 0px;
        padding-right: 16px;
    }

    .home-main {
        margin-left: 32px;
        margin-right: 32px;
    }

    .footer-logos {
        left: 32px;
        height: 80px;
        gap: 0px;
    }

    .website-rights {
        right: 32px;
    }
}

@media screen and (max-width: 374.95px) {
    .page-top-logo {
        top: 280px;
        right: 8px;
    }

    .page-top-title {
        padding-right: 8px;
    }

    .page-top-subcopy {
        padding-right: 8px;
    }

    .page-top-mobile {
        height: 600px;
    }

    .page-top-mobile img {
        height: 100%;
    }

    .footer-logos {
        height: 64px;
    }

    .footer-logo-circle {
        height: 100%;
    }

    .footer-logo-circle img {
        height: 100%;
    }
}