@font-face {
    font-family: 'accent';
    src: url('Amsterdam.otf');
}

html {
    height: 100%;
}

body {
    height: 100%;
    position: relative;
}

#header-pc {
    z-index: 40;
    display: flex;
    width: 100%;
    height: 80px;
    background-color: white;
    align-items: center;
    position: fixed;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.05);
}

header input {
    display: none;
}

img {
    vertical-align: top;
}

.title {
    margin-right: auto;
}

.nav {
    display: flex;
    align-items: center;
}

.menu-group {
    list-style: none;
    display: inline-block;
    padding-right: 28px;
}

.sns-group {
    list-style: none;
    display: inline-block;
    padding-right: 28px;
    
}

.menu-item {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

.menu-item a {
    display: inline-block;
    text-decoration: none;
    color: #585858;
}

.menu-item:hover a {
    display: inline-block;
    text-decoration: none;
    color: #276072;
}

.top {
    position: relative;
    z-index: 10;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("src/toppic6.png");
    background-repeat: repeat;
    background-position: -4px;
    background-size: auto, cover;
}

.page-title {
    position: absolute;
    z-index: 20;
    bottom: 50px;
    left: 50px;
    margin: 0;
}

#top-discription a {
    color: white;
    font-size: 20px;
}

.top-rectangle {
    z-index: 40;
    width: 10%;
    height: 100%;
    margin-left: auto;
    background-color: white;
}

@media screen and (max-width: 799.98px) {
    #header-pc {
        display: none;
    }

    #header-phone {
        position: fixed;
        z-index: 100;
        left: 0;
        top: 0;
    }

    header label {
        transform: all 0.3s;
        margin: 20px;
        display: flex;
        flex-direction: column;
        margin-left: calc(100vw - 50px);
    }

    #header-hamburger {
        padding: 0px;
    }

    #header-hamburger span {
        position: relative;
        z-index: 20;
        display: block;
        height: 3px;
        width: 30px;
        margin: 4px 0;
        background-color: white;
        transition: all 0.3s;
    }

    #header-right-menu-check:checked ~ #header-hamburger span:nth-child(2) {
        opacity: 0;
    }
    #header-right-menu-check:checked ~ #header-hamburger span:nth-child(1) {
        transform: translateY(11px) rotate(45deg);
        background-color: #585858;
    }
    #header-right-menu-check:checked ~ #header-hamburger span:nth-child(3) {
        transform: translateY(-11px) rotate(-45deg);
        background-color: #585858;
    }

    #header-right-menu {
        position: fixed;
        right: -100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        transition: all 0.5s;
        padding: 80px;
        margin-top: -100vh;
        padding-top: 100vh;
    }

    .menu-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    .menu-item {
        margin: 4px 0;
    }

    .sns-group {
        padding: 0;
    }

    #header-right-menu-check:checked ~ #header-right-menu {
        right: 0;
    }

    .page-title {
        left: 40px;
        margin-right: 80px;
    }

    .top {
        position: relative;
        z-index: 10;
        display: block;
        width: 100%;
        height: 100%;
        background-image: url("src/toppic7.png");
        background-repeat: repeat;
        background-position: -4px;
        background-size: auto, cover;
    }

    .top-rectangle {
        display: none;
    }
}

@media screen and (min-width: 800px) {
    #header-phone {
        display: none;
    }
}
