@font-face {
    font-family: 'accent';
    src: url('Amsterdam.otf');
}

html {
    height: 100%;
}

body {
    height: 100%;
    position: relative;
}

#header-pc {
    z-index: 40;
    display: flex;
    width: 100%;
    height: 80px;
    background-color: white;
    align-items: center;
    position: fixed;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.05);
}

header input {
    display: none;
}

img {
    vertical-align: top;
}

.title {
    margin-right: auto;
}

.nav {
    display: flex;
    align-items: center;
}

.menu-group {
    list-style: none;
    display: inline-block;
    padding-right: 28px;
}

.sns-group {
    list-style: none;
    display: inline-block;
    padding-right: 28px;
    
}

.menu-item {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

.menu-item a {
    display: inline-block;
    text-decoration: none;
    color: #585858;
    font-weight: 600;
}

.menu-item:hover a {
    display: inline-block;
    text-decoration: none;
    color: #276072;
}

.top {
    position: relative;
    z-index: 10;
    display: block;
    width: 100%;
    height: 400px;
}

.page-title {
    position: absolute;
    z-index: 20;
    top: 300px;
    left: 50px;
    margin: 0;
}

#top-discription a {
    color: white;
    font-size: 20px;
}

.top-rectangle {
    z-index: 10000;
    width: 10%;
    height: 100%;
    margin-left: auto;
    background-color: white;
}

#page-contents {
    margin: 0 auto;
    max-width: 1200px;
    width: 80%;
}

#about {
    margin-top: 40px;
}

#about a {
    font-size: 24px;
    font-weight: 600;
    color: #276072;
}

#profile {
    margin-top: 32px;
    display: flex;
    align-items: center;
}

#name {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
}

#name a {
    color: #585858;
}

#explain {
    display: flex;
}

.asis {
    margin-top: 40px;
    width: 47%;
}

.asis-title {
    display: flex;
    align-items: baseline;
}

.asis-content {
    margin-top: 20px;
}

.asis-content a {
    font-size: 16px;
    font-weight: 300;
    color: #585858;
    line-height: 150%;
}

#more {
    margin: 32px 0;
}

#more-contents {
    margin-top: 16px;
    display: flex;
}

#more-contents a {
    text-decoration: none;
    color: #585858;
    width: 50%;
}

#more-contents a:hover {
    color: #276072;
    font-weight: 600;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #efefef;
    align-items: center;
    margin-top: 64px;
}

.footer-group {
    margin: 32px;
    align-items: center;
    text-align: center;
}

.footer-content {
    list-style: none;
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 90%;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #585858;
}

@media screen and (max-width: 799.98px) {
    #header-pc {
        display: none;
    }

    #header-phone {
        position: fixed;
        z-index: 100;
        left: 0;
        top: 0;
    }

    header label {
        transform: all 0.3s;
        margin: 20px;
        display: flex;
        flex-direction: column;
        margin-left: calc(100vw - 50px);
    }

    #header-hamburger {
        padding: 0px;
    }

    #header-hamburger span {
        position: relative;
        z-index: 20;
        display: block;
        height: 3px;
        width: 30px;
        margin: 4px 0;
        background-color: white;
        transition: all 0.3s;
    }

    #header-right-menu-check:checked ~ #header-hamburger span:nth-child(2) {
        opacity: 0;
    }
    #header-right-menu-check:checked ~ #header-hamburger span:nth-child(1) {
        transform: translateY(11px) rotate(45deg);
        background-color: #585858;
    }
    #header-right-menu-check:checked ~ #header-hamburger span:nth-child(3) {
        transform: translateY(-11px) rotate(-45deg);
        background-color: #585858;
    }

    #header-right-menu {
        position: fixed;
        right: -100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        transition: all 0.5s;
        padding: 80px;
        margin-top: -100vh;
        padding-top: 100vh;
    }

    .menu-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    .menu-item {
        margin: 4px 0;
    }

    .sns-group {
        padding: 0;
    }

    #header-right-menu-check:checked ~ #header-right-menu {
        right: 0;
    }

    .top {
        position: relative;
        z-index: 10;
        display: block;
        width: 100%;
        height: 360px;
    }

    .toppic-pc {
        display: none;
    }

    .toppic-phone {
        position: absolute;
    }

    .page-title {
        position: absolute;
        left: 40px;
        top: 250px;
        margin-right: 80px;
    }

    .top-rectangle {
        display: none;
    }

    #page-contents {
        margin: 0 auto;
        padding: 0 40px;
        width: calc(100% - 80px);
    }

    #about {
        margin: 0;
    }

    #explain {
        display: flex;
        flex-direction: column;
    }

    .asis {
        width: 100%;
    }

    #more-contents {
        display: flex;
        flex-direction: column;
    }

    #more-contents a {
        width: 100%;
        margin-bottom: 16px;
    }
}

@media screen and (min-width: 800px) {
    #header-phone {
        display: none;
    }

    .toppic-phone {
        display: none;
    }

    #more-contents-phone {
        display: none;
    }
}
