header {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: white;
    align-items: center;
    position: fixed;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.05);
}

.title {
    margin-right: auto;
}

.menu-group {
    list-style: none;
    display: inline-block;
    padding: 28px;
}

.menu-item {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

.menu-item a {
    text-decoration: none;
    color: #585858;
}

.menu-item:hover a {
    text-decoration: none;
    color: #276072;
}