html {
    height: 100%;
}

body {
    height: 100%;
    position: relative;
}

#header-pc {
    z-index: 40;
    display: flex;
    width: 100%;
    height: 80px;
    background-color: white;
    align-items: center;
    position: fixed;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.05);
}

header input {
    display: none;
}

img {
    vertical-align: top;
}

.title {
    margin-right: auto;
}

.nav {
    display: flex;
    align-items: center;
}

.menu-group {
    list-style: none;
    display: inline-block;
    padding-right: 28px;
}

.sns-group {
    list-style: none;
    display: inline-block;
    padding-right: 28px;
    
}

.menu-item {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

.menu-item a {
    display: inline-block;
    text-decoration: none;
    color: #585858;
}

.menu-item:hover a {
    display: inline-block;
    text-decoration: none;
    color: #276072;
}

.menu-item-selected {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

.menu-item-selected a {
    display: inline-block;
    text-decoration: none;
    color: #276072;
    position: relative;
}

.menu-item-selected a::after {
    position: absolute;
    left: 0;
    top: 45px;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #276072;
}

.biography-top {
    position: relative;
    z-index: 10;
    display: block;
    width: 100%;
    height: 214px;
    background-image: url("src/toppic6.png");
    background-repeat: repeat;
    background-position: -4px;
    background-size: auto, cover;
}

.page-title {
    z-index: 20;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.biography-top-rectangle {
    z-index: 40;
    width: 10%;
    height: 100%;
    margin-left: 90%;
    background-color: white;
}

#page-contents-pc {
    margin: 0 auto;
    max-width: 1200px;
    width: 80%;
}

.attention {
    margin-top: 48px;
}

.attention a {
    color: #585858;
}

.works-group {
    margin-top: 48px;
}

.group-title {
    border-bottom: 1px solid;
    border-color: #276072;
}

.group-title a {
    color: #276072;
}

.work-content {
    display: flex;
    align-items: flex-start;
    padding-top: 40px;
}

.work-content-text-l {
    display: flex;
    flex-direction: column;
    padding-right: 32px;
}

.work-title {
    display: flex;
    align-items: baseline;
}

.work-name a {
    color: #276072;
    line-height: 150%;
}

.work-date {
    padding-left: 20px;
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 90%;
    color: #3d3d42;
    opacity: 60%;
    line-height: 150%;
}

.work-date a {
    color: #585858;
}

.work-discription {
    padding-top: 24px;
}

.work-discription a {
    color: #585858;
    line-height: 150%;
}

.work-content-pic-r {
    margin: 0 0 0 auto;
}

.work-content-text-r {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #efefef;
    align-items: center;
    margin-top: 128px;
}

.footer-group {
    margin: 32px;
    align-items: center;
    text-align: center;
}

.footer-content {
    list-style: none;
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 90%;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #585858;
}

@media screen and (max-width: 799px) {
    #header-pc {
        display: none;
    }

    #header-phone {
        position: fixed;
        z-index: 100;
        left: 0;
        top: 0;
    }

    header label {
        transform: all 0.3s;
        margin: 20px;
        display: flex;
        flex-direction: column;
        margin-left: calc(100vw - 66px);
    }

    #header-hamburger {
        padding: 8px;
        background-color: white;
        margin-right: 16px;
    }

    #header-hamburger span {
        position: relative;
        z-index: 20;
        display: block;
        height: 3px;
        width: 30px;
        margin: 4px 0;
        background-color: #585858;
        transition: all 0.3s;
    }

    #header-right-menu-check:checked ~ #header-hamburger span:nth-child(2) {
        opacity: 0;
    }
    #header-right-menu-check:checked ~ #header-hamburger span:nth-child(1) {
        transform: translateY(11px) rotate(45deg);
        background-color: #585858;
    }
    #header-right-menu-check:checked ~ #header-hamburger span:nth-child(3) {
        transform: translateY(-11px) rotate(-45deg);
        background-color: #585858;
    }

    #header-right-menu {
        position: fixed;
        right: -100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        transition: all 0.5s;
        padding: 80px;
        margin-top: -100vh;
        padding-top: 100vh;
    }

    .menu-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    .menu-item {
        margin: 4px 0;
    }

    .menu-item-selected a::after {
        display: none;
    }

    .sns-group {
        padding: 0;
    }

    #header-right-menu-check:checked ~ #header-right-menu {
        right: 0;
    }

    .biography-top {
        height: 134px;
    }

    .biography-top-rectangle {
        display: none;
    }

    .page-title {
        top: 60%;
        left: 55%;
    }

    #page-contents-pc {
        display: none;
    }

    #page-contents-mobile {
        margin: 0 auto;
        padding: 30px 0 80px;
        width: calc(100% - 80px);
    }

    .attention{
        margin-top: 24px;
    }

    .attention a {
        line-height: 150%;
    }

    .work-content {
        display: flex;
        flex-direction: column;
        padding: 24px 0;
        
    }

    .work-title {
        display: flex;
        flex-direction: column;
    }

    .work-date {
        padding: 0;
        margin-top: 8px;
    }

    .work-discription {
        padding-top: 12px;
    }

    .work-content-pic {
        padding-top: 24px;
        margin: 0 40px;
    }

    footer {
        margin-top: 32px;
    }
}

@media screen and (max-width: 399px) {
    .work-content-pic {
        margin: 0;
    }
}

@media screen and (min-width: 800px) {
    #header-phone {
        display: none;
    }

    #page-contents-mobile {
        display: none;
    }
}